.Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    padding: 0.25em;
    width: 50%;
}

.Field {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.ErrorText {
    color: red;
}

.Buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Button {
    margin: 1em;
    border: 1px solid rgb(black, 0.2);
    font-size: small;
}

input {
    border-radius: 5px;
    border: 1px solid rgb(black, 0.2);
}